package templates

import "strconv"

templ Global(globalCounter int) {
	<div class="global counter">
		<div>
			<h1 id="count">{ strconv.Itoa(globalCounter) }</h1>
		</div>
		<div>
			<h3>Global</h3>
		</div>
		<div>
			<button>+1</button>
		</div>
	</div>
}
